<header>
  <div class="top-bar">
    <p>Email: <a href="mailto:info@vshineacademy.com">Email: info&#64;vshineacademy.com  </a> |
       Phone: <a href="tel:+916382875552">+91 6382875552</a>
    </p>
  </div>
  <h1>Welcome to VShine Academy</h1>
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/courses">Courses</a></li>
      <li><a routerLink="/instructors">Instructors</a></li>
      <li><a routerLink="/enrollment">Enroll</a></li>
    </ul>
  </nav>
</header>

<div class="main-content">
  <router-outlet></router-outlet>
</div>

<footer>
  <p>&copy; 2025 VShine Academy. All rights reserved.</p>
</footer>

